<div class="col-md-12">
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive w-100" style="max-height: 370px;">
</div>
<div class="col-md-12 d-flex justify-content-between mt-2">
  <h4 class="mt-2">{{ recipe.name }}</h4>
  <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">To Shopping List</a></li>
        <li><a href="">Edit Recipe</a></li>
        <li><a href="">Delete Recipe</a></li>
      </ul>
    </div>
</div>
<div class="col-md-12">
  
</div>
<div class="col-md-12">
    <p class="text-justify">{{ recipe.description }}</p>
</div>
<div class="col-md-12">
  Ingredients
</div>