<div class="col-md-12">
  <img src="https://images.unsplash.com/photo-1525093505341-06e6006ff576?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=244aea8bfdbef0efb10004a95ee41156&auto=format&fit=crop&w=1350&q=80" alt="" class="img-responsive w-100" style="max-height: 300px;">
</div>
<div class="col-md-12 d-flex justify-content-between mt-2">
  <h4 class="mt-2">Name Recipe</h4>
  <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">To Shopping List</a></li>
        <li><a href="">Edit Recipe</a></li>
        <li><a href="">Delete Recipe</a></li>
      </ul>
    </div>
</div>
<div class="col-md-12">
  
</div>
<div class="col-md-12">
    <p class="text-justify">Descrioption</p>
</div>
<div class="col-md-12">
  Ingredients
</div>